<div class="flex gap-4">
  <label>
    <input type="checkbox" class="peer">
    <%= component "switch", title: "Title" %>
  </label>
  <label>
    <input type="checkbox" class="peer" checked>
    <%= component "switch", title: "Title" %>
  </label>
</div>