<div class="flex place-content-between gap-4">
  <label>
    <input type="radio" class="peer">
    <%= component "radio_button", title: "Title" %>
  </label>
  <label>
    <input type="radio" class="peer" checked>
    <%= component "radio_button", title: "Title" %>
  </label>
</div>